@import '~@fontsource/lato/index.css';
@import '~bootstrap/scss/bootstrap.scss';
@import '~@fortawesome/fontawesome-free/css/all.min.css';
body{
  font-family: "Lato", sans-serif;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}